html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #d2be96;
	user-select: none;
	overflow-y: hidden;
}
* {
	box-sizing: border-box;
  min-width: 0
}
main {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	border: 5px solid #d2be96;
}
#apple-grid {
	width: 60vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.apple {
	width: 20vw;
	height: 20vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.apple:nth-child(4n+1) {
	background-color: brown;
}
.apple:nth-child(4n+2) {
	background-color: tomato;
}
.apple:nth-child(4n+3) {
	background-color: burlywood;
}
.apple:nth-child(4n+4) {
	background-color: chocolate;
}
.image {
	width: 100%;
	height: 100%;
	margin: auto;
	display: table;
	filter: contrast(10) saturate(0);
	mix-blend-mode: darken;
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
}
#apple-grid .apple:hover {
	cursor: pointer;
	background-color: #d2be96;
}
#apple-grid .apple::before {
	content: attr(data-apple);
	width: 60vw;
	height: 50%;
	position: fixed;
	top: calc(50% - 7vw);
	left: 0;
	z-index: 999;
	font-size: 8vw;
	text-align: center;
	word-spacing: 60vw;
	pointer-events: none;
	display: none;
	-webkit-text-stroke: 2px black;
}
#apple-grid .apple:hover::before {
	display: block;
}

#apple-bag {
	width: 40vw;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	overflow: hidden;
	border-left: 5px solid #d2be96;
}

section {
	width: 100%;
	height: 50%;
	padding: 2vw;
	overflow-y: scroll;
}

#apple-list {
	border-bottom: 5px solid #d2be96;
}
#apple-list ol {
	margin: 0;
	padding-left: 1.25em;
}
#apple-list ol li:first-child:only-of-type {
	list-style: none;
	margin-left: -1.25em;
}
#apple-list ol li:first-child:not(:only-of-type) {
	display:none;
}

#apple-thumbs .apple {
	width: 5vw;
	height: 5vw;
	margin: 0 1vw 1vw 0;
	float: left;
	border-radius: 50%;
	overflow-y: hidden;
}
#apple-thumbs .apple:nth-child(6n+6) {
	margin-right: 0;
}
#apple-thumbs .apple .image {
	background-size: 100%;
}
